body{
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(39, 37, 37);
}

.header{
    width: 100%;
}

.header .container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.navbar{
    display: flex;
    margin: 0;
    width: 400px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.navbar ul li{
    color: white;
}

.icon_navbar{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.icon_navbar img{
    width: 50px;
    height: 50px;
}

.banner{
    width: 100%;
    background-size: cover;
    background-position: top;
}


.banner .container{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}


.img_banner{
    height: 500px;
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
}

.img_banner img{
    height: 500px;
}

.welcome{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.h1_invocador{
    font-size: 50px;
    margin-top: 10%;
    color: white;
}

.ahri_text{
    width: 90%;
    height: 60%;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
}

.p_text_ahri{
    font-size: 30px;
}